    body {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-color: #820c1c;
      color: #ffffff;
      margin: 0;
      padding: 1rem;
      display: flex;
      justify-content: center;
    }

    .container {
      max-width: 600px;
      width: 100%;
    }

    h1, h2 {
      text-align: center;
    }

    .chart {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
      gap: 10px;
      margin-top: 1rem;
    }

    .group {
      margin-bottom: 2rem;
    }

    .button-container {
      background-color: #becad6;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      transition: transform 0.2s;
    }

    .button-container:hover {
      transform: scale(1.05);
      background-color: #2eb31c;
    }

    .phoneme-btn {
      font-size: 24px;
      color: #fff;
      background-color: #820c1c;
      border: none;
      border-radius: 8px;
      padding: 10px 15px;
      cursor: pointer;
      margin: 5px 0;
      width: 100%;
    }

    .label, .label-top {
      font-size: 14px;
      color: rgb(0, 0, 0);
    }

    .label-top {
      margin-bottom: 5px;
    }

    @media (max-width: 500px) {
      .phoneme-btn {
        font-size: 18px;
      }
    }